<nav>
  <ul>
    <li><a href="/">Search</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/browse/developers">Developers</a></li>
    <li><a href="/browse/publishers">Publishers</a></li>
    <li><a href="/browse/genres">Genres</a></li>
    <li><a href="/browse/platforms">Platforms</a></li>
  </ul>
</nav>