@font-face {
  font-family: 'lexendregular';
  src: url('lexend-variablefont_wght-webfont.woff2') format('woff2'),
    url('lexend-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  font-size: 10px;
  font-family: 'lexendregular';
  --bg-color-frame: antiquewhite;
  --bg-color-article: aliceblue;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-frame: #222222;
    --bg-color-article: #333333;
    --text-color: #ffffff;
  }
}

body {
  display: grid;
  grid-template-areas:
      'header header'
      'nav article'
      'footer footer';
  grid-template-columns: 160px 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: header;
  padding: 10px;
  gap: 10px;
}

header img {
  width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
}

nav {
  grid-area: nav;
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  font-size: 2.2rem;
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration:underline;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: black;
}

nav a:active {
  background-color: aliceblue;
}

footer {
  grid-area: footer;
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}

article {
  grid-area: article;
  background-color: var(--bg-color-article);
  color: var(--text-color);
  padding: 10px;
  line-height: 1.8;
}

button {
  font-family: 'lexendregular';
  font-size: 1.8rem;
  padding: 10px;
}

button.fakelink {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
}

button.fakelink:active {
  color: red;
}

.searchForm {
  margin: 10px;
  padding: 10px;
  border: 2px solid #dddddd;
  display: grid;
  grid-template-columns: 150px 200px;
  grid-auto-rows: fit-content;
  gap: 15px;
  max-width: 400px;
}

.searchForm .formIntro {
  grid-column: 1 / span 2;
}

.searchForm label {
  justify-self: right;
}

.searchForm button {
  grid-column: 1 / span 2;
  padding: 10px;
  background-color: antiquewhite;
}

.searchResults {
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
}

.gameList, .devList {
  margin: 10px;
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 30px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

.gameDetails {
  line-height: 1.6;
}

.gameDetails .detailLabel {
  font-size: 2.4rem;
  font-weight: bold;
  justify-self: right;
}

.gameDetails .detailBlock {
  display:grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: repeat(4, fit-content);
  align-items: center;
  gap: 15px;
}

.gameDetails .buttonBox {
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.siteForm {
  padding: 15px;
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: 30px min-content;
  gap: 10px;
  align-items: center;
}

.siteForm button {
  grid-column: 1 / span 2;
}

.siteForm label {
  justify-self: right;
}

