@font-face {
  font-family: 'lexendregular';
  src: url('lexend-variablefont_wght-webfont.woff2') format('woff2'),
    url('lexend-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_monoregular';
  src: url('robotomono-variablefont_wght-webfont.woff2') format('woff2'),
    url('robotomono-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  font-size: 10px;
  font-family: 'roboto_monoregular';
  --bg-color-frame: #ecc76f;
  --bg-color-article: #fdf6e3;
  --text-color: #000000;
  --link-color: blue;
  --link-visited-color: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-frame: #222222;
    --bg-color-article: #333333;
    --text-color: #ffffff;
    --link-color: rgb(68, 202, 255);
    --link-visited-color: rgb(250, 149, 250);
  }
}

body {
  display: grid;
  grid-template-areas:
      'header header'
      'nav article'
      'footer footer';
  grid-template-columns: 160px 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: header;
  padding: 10px;
  gap: 10px;
}

header img {
  width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
}

nav {
  grid-area: nav;
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  font-family: 'lexendregular';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  font-size: 2.2rem;
  color: var(--text-color);
}

nav li {
  padding: 10px;
  color: var(--text-color);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  text-decoration:underline;
}

nav a:link {
  color: var(--text-color);
}

nav a:visited {
  color: var(--text-color)
}

nav a:active {
  background-color: aliceblue;
}

footer {
  grid-area: footer;
  background-color: var(--bg-color-frame);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}

article {
  grid-area: article;
  background-color: var(--bg-color-article);
  color: var(--text-color);
  padding: 10px;
  line-height: 1.8;
  z-index: 1;
  box-shadow: 5px 5px 10px black;
}

article :link {
  color: var(--link-color);
}

article :visited {
  color: var(--link-visited-color);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'lexendregular';
}

label {
  font-family: 'lexendregular';
}

input {
  font-family: 'roboto_monoregular';
}

button {
  font-family: 'lexendregular';
  font-size: 1.8rem;
  padding: 10px;
}

button.fakelink {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;
  font-family: 'roboto_monoregular';
}

button.fakelink:active {
  color: red;
}

.searchForm {
  margin: 10px;
  padding: 10px;
  border: 2px solid #dddddd;
  display: grid;
  grid-template-columns: 230px 230px;
  grid-auto-rows: fit-content;
  gap: 15px;
  max-width: 500px;
}

.searchForm .formIntro {
  grid-column: 1 / span 2;
}

.searchForm label {
  justify-self: right;
}

.searchForm button {
  grid-column: 1 / span 2;
  padding: 10px;
  background-color: antiquewhite;
}

.searchForm fieldset {
  grid-column: 1 / span 2;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: fit-content;
}

.searchResults {
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
}

.gameList, .devList {
  margin: 10px;
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 30px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

.gameDetails {
  line-height: 1.6;
}

.gameDetails .detailLabel {
  font-size: 2.4rem;
  font-weight: bold;
  justify-self: right;
  font-family: 'lexendregular';
}

.gameDetails .detailBlock {
  display:grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: repeat(4, fit-content);
  align-items: center;
  gap: 15px;
}

.gameDetails .buttonBox {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.siteForm {
  padding: 15px;
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: 30px min-content;
  gap: 10px;
  align-items: center;
}

.siteForm button {
  grid-column: 1 / span 2;
}

.siteForm label {
  justify-self: right;
}

